@model IEnumerable<BlogPost>


<div class="album py-5 bg-light">
    <div class="container">
        <h4> Blogs</h4>

        <a style="margin:20px" class="btn btn-warning" asp-area="" asp-controller="BlogPost" asp-action="GetBlogByCategory">Get Blogs by Category</a>

        <a style="margin:30px" class="btn btn-outline-secondary" asp-area="" asp-controller="BlogPost" asp-action="GetBlogByAuthor">Get Blogs by Author</a>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="blog-item-info">Author: @item.Author</p>
                            <p class="blog-item-info">Published on: @item.CreatedAt?.ToString("yyyy-MM-dd")</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-controller="BlogPost" asp-action="Detail" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a asp-controller="BlogPost" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="BlogPost" asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                                <small class="text-muted">Category: @item.BlogPostCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>